*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/
/.idea/.name
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Module build dirs
/app/build

# Release artifacts / generated bundles
*.aab
*.apk

# Firebase config (keep private)
**/google-services.json
